.adress-icons-wrapper {
  @media screen and(min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 76px;
    padding-right: 89px;
  }
  @media screen and(min-width: 1200px) {
    padding: 0;
  }
}
