$primary-text-color: #757575;
$secondary-text-color: #f5f4fa;
$header_color: #212121;
$accent-color: #2196f3;
$button-bg-color: #2196f3;
$second-bg-color: #f5f4fa;
$button-bg-color-portfolio: #f5f4fa;
$button-color-portfolio: #212121;
$icon-color: #afb1b8;
$bg-gradient: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  )