.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  @media screen and(min-width: 1200px) {
    font-size: 44px;
    line-height: calc(60 / 44);
    max-width: 696px;
  }
  /* or 162% */
  max-width: 360px;

  // height: 84px;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;

  margin: 0 auto;
}
