.modal__cross-button {
    position: absolute;
    margin-top: 8px;
    margin-right: 8px;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    cursor: pointer;

    &:hover .modal__cross {
        fill: $accent-color;
      }
  }
  .modal__cross {
    width: 18px;
    height: 18px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  