.employers-list {
  // display: flex;
  display: block;
  box-sizing: border-box;
  @media screen and(min-width: 768px){
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  @media screen and (min-width: 1200px){
    display: flex;
    flex-wrap: nowrap;
  }
  margin: 0;
  // gap: 30px;
}

