.menu-close-btn{
    right: 0;
    padding-right: 15px;
    padding-top: 10px;
    position: absolute;
    background-color: transparent;
    border: none;
}   
.menu-open-btn{
    
    padding-top: 16px;
    padding-bottom: 16px;
    
    display: block;
    margin-left: auto;
    background-color: transparent;
    border: none;
}
