.navigation__list {
  display: flex;
  gap: 50px;
  

  .navigation__link {
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    // @media screen and(min-width: 1200px){
    //   padding-top: 32px;
    //   padding-bottom: 32px;
    // }
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    color: $header-color;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: $accent-color;
    }
  }
}

  .navigation__link--current::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    & {
      color: $accent-color;
    }
  }

  
